<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/portfolio/portfolio_four.png" alt="">
                <div class="intro-text">
                    <span class="name">WWLM</span>
                    <hr class="star-light">
                    <span class="skills">World Wide Lead Management</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!--Sub Heading-->
<section class="dark" id="wwlm_subhead">
    <div class="row">
        <ul class="list-inline item-details text-center font-medium">
            <li>
                <b>Client: </b>
                <strong><a href="#">Microsoft</a></strong>
            </li>
            <li>
                <b>Date: </b>
                September 2014 - August 2015
            </li>
            <li>
                <b>Service: </b>
                <strong><a href="#">Data Alalytics</a></strong>
            </li>
        </ul>
    </div>
</section>

<!--Project Description-->
<section>
    <div class="container" id="wwlm_description">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Project Description</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row font-medium">
            <p>
                World Wide Lead Management(WWLM),Automating the data flow across different down streams and managing
                massive data related to the vendors, customers, products outlook related to Microsoft's Products.
                Azure Sql server in conjuction with SSIS is used to handle cleansing and storage of data, and Azure Worker Roles
                to pipeline the processed data to downnstream sources.
            </p>
        </div>

    </div>
</section>

<!--My Responsibilities-->
<section class="success" id="wwlm_responsibility">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>My Responsibilities</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <ul class="font-medium">
                <li>Understanding domain and data flow</li>
                <li>On Premise and Azure deployment</li>
                <li>Analysing Production descripencies</li>
            </ul>
        </div>
    </div>
</section>

<!--Technologies-->
<section id="wwlm_technologies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Technology</h2>
                <hr class="star-primary">
            </div>
            <div class="row text-center col-lg-offset-1">
                <div class="col-sm-2 flat-tag text-center"><a link="#">Sql Server 2012</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">SSIS 2012</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">.Net 4.0</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">Azure SQL</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">Visual Studio 2013</a></div>
            </div>
        </div>
    </div>
</section>

<!--<section id="wwlm">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="modal-body">
                    <h2 class="font-ex-lg text-center">WWLM</h2>
                    <hr class="star-primary">
                    <img src="img/portfolio/portfolio_four.png" class="img-responsive img-centered-landing" alt="">
                    <ul class="list-inline item-details text-center font-medium">
                        <li>
                            <b>Client: </b>
                            <strong><a href="#">Microsoft</a></strong>
                        </li>
                        <li>
                            <b>Date: </b>
                            October 2014-July 2015
                        </li>
                        <li>
                            <b>Service: </b>
                            <strong><a href="#">Data and Analytics</a></strong>
                        </li>
                    </ul>
                    <div class="panel panel-primary">
                       <div class="panel-heading"><h2 class="panel-title">Project Description</h2></div>
                        <div class="panel-body">
                            <p>
                                World Wide Lead Management(WWLM),Automating the data flow across different down streams and managing
                                massive data related to the vendors, customers, products outlook related to Microsoft's Products.
                                Azure Sql server in conjuction with SSIS is used to handle cleansing and storage of data, and Azure Worker Roles
                                to pipeline the processed data to downnstream sources.
                            </p>
                        </div>
                    </div>
                    
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">My Responsiblities</h2></div>
                        <div class="panel-body">
                            <ul>
                                <li>Understanding domain and data flow</li>
                                <li>On Premise and Azure deployment</li>
                                <li>Analysing Production descripencies</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">Technologies Involved</h2></div>
                        <div class="panel-body">
                            <a link="#" class="flat-tag">Sql Server 2012</a>
                            <a link="#" class="flat-tag">.Net 4.0</a>
                            <a link="#" class="flat-tag">Azure</a>
                            <a link="#" class="flat-tag">SSIS Packages</a>
                            <a link="#" class="flat-tag">Sql Server 2012</a>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>-->