<section id="test_automation">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="modal-body">
                    <h2 class="font-ex-lg text-center">Test Automation</h2>
                    <hr class="star-primary">
                    <img src="img/portfolio/portfolio_three.png" class="img-responsive img-centered-landing" alt="">
                    <ul class="list-inline item-details text-center font-medium">
                        <li>
                            <b>Client: </b>
                            <strong><a href="#">Microsoft</a></strong>
                        </li>
                        <li>
                            <b>Date: </b>
                            August 2015-Feb 2016
                        </li>
                        <li>
                            <b>Service: </b>
                            <strong><a href="#">Test Automation</a></strong>
                        </li>
                    </ul>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">Description</h2></div>
                        <div class="panel-body">
                            <p>
                                Combined effort for rapid automation of multiple project's under domain, as a part of this initiative 
                                we created a E2E Automaton suite, separately for each applications. This was challenging as while shifting from 
                                one application to another we had to thoroghly understand the internal behaviour of each of them in order to 
                                seamlessly automate the functionalities.
                            </p>
                            <h4>
                               We covered six different application within span of six months.
                            </h4>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">My Responsiblities</h2></div>
                        <div class="panel-body">
                            <ul>
                                <li>Understanding the intenal process/functionalities</li>
                                <li>Creation of custom framework for each application</li>
                                <li>Test data preparation</li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">Technologies Involved</h2></div>
                        <div class="panel-body">
                            <a link="#" class="flat-tag">Selenium Web Driver</a>
                            <a link="#" class="flat-tag">.Net 4.5</a>
                            <a link="#" class="flat-tag">Sql Server 2012</a>
                            <a link="#" class="flat-tag">MSTest</a>
                            <a link="#" class="flat-tag">C#</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>