<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/portfolio/portfolio_three.png" alt="">
                <div class="intro-text">
                    <span class="name">Test Automation</span>
                    <hr class="star-light">
                    <span class="skills">selenium web driver - C# - Reporting</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!--Sub Heading-->
<section class="dark" id="automation_subhead">
    <div class="row">
        <ul class="list-inline item-details text-center font-medium">
            <li>
                <b>Client: </b>
                <strong><a href="#">Microsoft</a></strong>
            </li>
            <li>
                <b>Date: </b>
                August 2015-Feb 2016
            </li>
            <li>
                <b>Service: </b>
                <strong><a href="#">Test Automation</a></strong>
            </li>
        </ul>
    </div>
</section>

<!--Project Description-->
<section>
    <div class="container" id="automation_description">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Project Description</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row font-medium">
            Combined effort for rapid automation of multiple project's under domain, as a part of this initiative
            we created a E2E Automaton suite, separately for each applications. This was challenging as while shifting from
            one application to another we had to thoroghly understand the internal behaviour of each of them in order to
            seamlessly automate the functionalities.
            <h4>
                We covered six different application within span of six months.
            </h4>
        </div>

    </div>
</section>

<!--My Responsibilities-->
<section class="success" id="automation_responsibility">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>My Responsibilities</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <ul class="font-medium">
                <li>Creating, custom project frameworks</li>
                <li>Understanding the Application's internal functionalities</li>
                <li>Test data preparation</li>
                <li>Test Scripts optimization</li>
            </ul>
        </div>
    </div>
</section>

<!--Technologies-->
<section id="automation_technologies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Technology</h2>
                <hr class="star-primary">
            </div>
            <div class="row text-center col-lg-offset-1">
                <div class="col-sm-2 flat-tag text-center"><a link="#">Selenium Web Driver</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">.Net 4.5</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">SQL Server 2012</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">MSTest Engine</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">C#</a></div>
            </div>
        </div>
    </div>
</section>

<!--<section id="test_automation">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="modal-body">
                    <h2 class="font-ex-lg text-center">Test Automation</h2>
                    <hr class="star-primary">
                    <img src="img/portfolio/portfolio_three.png" class="img-responsive img-centered-landing" alt="">
                    <ul class="list-inline item-details text-center font-medium">
                        <li>
                            <b>Client: </b>
                            <strong><a href="#">Microsoft</a></strong>
                        </li>
                        <li>
                            <b>Date: </b>
                            August 2015-Feb 2016
                        </li>
                        <li>
                            <b>Service: </b>
                            <strong><a href="#">Test Automation</a></strong>
                        </li>
                    </ul>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">Description</h2></div>
                        <div class="panel-body">
                            <p>
                                Combined effort for rapid automation of multiple project's under domain, as a part of this initiative 
                                we created a E2E Automaton suite, separately for each applications. This was challenging as while shifting from 
                                one application to another we had to thoroghly understand the internal behaviour of each of them in order to 
                                seamlessly automate the functionalities.
                            </p>
                            <h4>
                               We covered six different application within span of six months.
                            </h4>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">My Responsiblities</h2></div>
                        <div class="panel-body">
                            <ul>
                                <li>Understanding the intenal process/functionalities</li>
                                <li>Creation of custom framework for each application</li>
                                <li>Test data preparation</li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">Technologies Involved</h2></div>
                        <div class="panel-body">
                            <a link="#" class="flat-tag">Selenium Web Driver</a>
                            <a link="#" class="flat-tag">.Net 4.5</a>
                            <a link="#" class="flat-tag">Sql Server 2012</a>
                            <a link="#" class="flat-tag">MSTest</a>
                            <a link="#" class="flat-tag">C#</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->