################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sln
/.vs/vidyutron.github.io/v14
/node_modules
/npm-debug.log
