<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/UnifiedFramework.png" alt="">
                <div class="intro-text">
                    <span class="name">Unified Framework</span>
                    <hr class="star-light">
                    <span class="skills">Stand alone test automation framework</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!--Sub Heading-->
<section class="dark" id="uf_subhead">
    <div class="row">
        <ul class="list-inline item-details text-center font-medium">
            <li>
                <b>Client: </b>
                <strong><a href="#">Independent</a></strong>
            </li>
            <li>
                <b>Date: </b>
                October 2015-Feb 2016
            </li>
            <li>
                <b>Service: </b>
                <strong><a href="#">Test Framework</a></strong>
            </li>
        </ul>
    </div>
</section>

<!--Project Description-->
<section>
    <div class="container" id="uf_description">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Project Description</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row font-medium">
            <p>
                Combined effort for rapid automation of multiple project's under domain, as a part of this initiative
                we created a E2E Automaton suite, separately for each applications. This was challenging as while shifting from
                one application to another we had to thoroghly understand the internal behaviour of each of them in order to
                seamlessly automate the functionalities.
            </p>
            <h4>
                We covered six different application within span of six months.
            </h4>
        </div>

    </div>
</section>

<!--My Responsibilities-->
<section class="success" id="uf_responsibility">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>My Responsibilities</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <ul class="font-medium">
                <li>E-2-E understanding</li>
                <li>Creation of custom framework for each application</li>
                <li>Test data preparation</li>
                <li></li>
            </ul>
        </div>
    </div>
</section>

<!--Technologies-->
<section id="uf_technologies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Technology</h2>
                <hr class="star-primary">
            </div>
            <div class="row text-center col-lg-offset-1">
                <div class="col-sm-2 flat-tag text-center"><a link="#">C#</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">.Net 4.5</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">Nuget Package Creator</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">visual studio 2015</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">Selenium Web Driver</a></div>
            </div>
            <div class="row text-center col-lg-offset-1" style="margin-top:10px">
                <div class="col-sm-2 flat-tag text-center"><a link="#">Selenium Support</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">Protractor</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">Winium.Desktop</a></div>
            </div>
        </div>
    </div>
</section>

<!--<section id="unifiedframework">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="modal-body">
                    <h2 class="font-ex-lg text-center">Unified Framework</h2>
                    <hr class="star-primary">
                    <img src="img/portfolio/portfolio_five.png" class="img-responsive img-centered-landing" alt="">
                    <ul class="list-inline item-details text-center font-medium">
                        <li>
                            <b>Client: </b>
                            <strong><a href="#">Independent</a></strong>
                        </li>
                        <li>
                            <b>Date: </b>
                            October 2015-Feb 2016
                        </li>
                        <li>
                            <b>Service: </b>
                            <strong><a href="#">Test Automation</a></strong>
                        </li>
                    </ul>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">Description</h2></div>
                        <div class="panel-body">
                            <p>
                                Combined effort for rapid automation of multiple project's under domain, as a part of this initiative
                                we created a E2E Automaton suite, separately for each applications. This was challenging as while shifting from
                                one application to another we had to thoroghly understand the internal behaviour of each of them in order to
                                seamlessly automate the functionalities.
                            </p>
                            <h4>
                                We covered six different application within span of six months.
                            </h4>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">My Responsiblities</h2></div>
                        <div class="panel-body">
                            <ul>
                                <li>Understanding the intenal process/functionalities</li>
                                <li>Creation of custom framework for each application</li>
                                <li>Test data preparation</li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">Technologies Involved</h2></div>
                        <div class="panel-body">
                            <p>
                                <a link="#" class="flat-tag">C#</a>
                                <a link="#" class="flat-tag">.Net 4.5</a>
                                <a link="#" class="flat-tag">Nuget Package Creator</a>
                                <a link="#" class="flat-tag">visual studio 2015</a>
                                <a link="#" class="flat-tag">Selenium Web Driver</a>
                            </p>
                            <p><a link="#" class="flat-tag">Selenium Support</a>
                            <a link="#" class="flat-tag">Protractor</a>
                                
                            <a link="#" class="flat-tag">Winium.Cruciatus</a>
                            <a link="#" class="flat-tag">Winium.Desktop</a></p>
                            
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->