<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--<img class="img-responsive" src="img/profile.png" alt="">-->
                <div class="intro-text">
                    <div class="name pull-left" style="font-size:4em">I'm,</div>
                    <div class="name pull-left">Dwivedi Vishal Sridhar Arya</div>
                    <div class="skills pull-left">Web Developer - Graphic Artist - .Net Developer</div>
                    <div class="col-md-10" style="margin-top:20px;margin-left:-35px;">
                        <img class="img-responsive col-md-3" src="img/MS_MCP.png" alt="Microsoft Certified Professional" />
                        <img class="img-responsive col-md-2" src="img/MS_MCSA.png" style="margin-top:30px;" alt="Microsoft Solutions Associate" />
                        <img class="img-responsive col-md-3" src="img/MS_CSharp.png" alt="Microsoft Specialist" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a routerLink="/wwlm" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <h3>WWLM</h3>
                        </div>
                    </div>
                    <img src="img/portfolio/portfolio_four.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a routerLink="/test-automation" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <!--<i class="fa fa-search-plus fa-3x"></i>-->
                            <h3>Selenium Automation</h3>
                        </div>
                    </div>
                    <img src="img/portfolio/portfolio_three.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                    <!--<a routerLink="/UnifiedFramework" class="portfolio-link">-->
                <a href="http://www.vishalsridhar.com/UnifiedFramework/" target="_blank" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <!--<i class="fa fa-search-plus fa-3x"></i>-->
                            <h3>Unified framework</h3>
                        </div>
                    </div>
                    <img src="img/portfolio/portfolio_five.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a routerLink="/vishalsridhar" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <!--<i class="fa fa-search-plus fa-3x"></i>-->
                            <h3>vishalsridhar.com</h3>
                        </div>
                    </div>
                    <img src="img/portfolio/portfolio_two.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a routerLink="/sipv2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <!--<i class="fa fa-search-plus fa-3x"></i>-->
                            <h3>Social Intelligence platform</h3>
                        </div>
                    </div>
                    <img src="img/portfolio/portfolio_one.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link text-center" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <!--<i class="fa fa-search-plus fa-3x"></i>-->
                            <i>future!</i>
                        </div>
                    </div>
                    <img src="img/vs_logo.png" class="img-responsive" alt="" style="max-height:252px;display:block;margin: 0 auto;">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<!--<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="text-indent:10px;">
                <p>Hello,</p>
                <p>I'm Vishal Sridhar </p>
                <p>
                    I'm Passionate <b style="color:#343333;font-size:1.5em">Web Developer</b>,
                    <b style="color:#33f205;font-size:1.1em">Graphic Designer </b>&
                    <b style="color:#bfc0c4;font-size:1.3em">.Net Developer</b>
                </p>
                <p>
                    A sweet spot where <b style="text-transform:uppercase">Creativity</b> meets
                    <b style="text-transform:uppercase">Code</b>!
                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Resume
                </a>
            </div>
        </div>
    </div>
</section>-->

<!-- Skill Section -->
<section id="skill" class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Primary Skills</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2 text-center">
                <div class="col-sm-1" data-toggle="Angular 1.x/2">
                    <i class="devicon-angularjs-plain vi-3x" ></i>
                </div>
                <div class="col-sm-1">
                    <i class="devicon-bower-plain vi-3x"></i>
                </div>
                <div class="col-sm-1">
                    <i class="devicon-bootstrap-plain vi-3x"></i>
                </div>
                <div class="col-sm-1">
                    <i class="devicon-csharp-plain vi-3x"></i>
                </div>
                <div class="col-sm-1">
                    <i class="devicon-html5-plain vi-3x"></i>
                </div>
                <div class="col-sm-1">
                    <i class="devicon-photoshop-plain vi-3x"></i>
                </div>
                <div class="col-sm-1">
                    <i class="devicon-jquery-plain vi-3x"></i>
                </div>
                <div class="col-sm-1">
                    <i class="devicon-javascript-plain vi-3x"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" style="background-color:#617487">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Me</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" id="contactForm" novalidate action="https://formspree.io/interact@vishalsridhar.com"
                      method="POST">
                    <input type="hidden" name="_subject" value="Interact with Vishal Sridhar!" />
                    <input type="hidden" name="_cc" value="vidyutron@live.com" />
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control input-light" placeholder="Name" id="name" required data-validation-required-message="Please enter your name." name="name">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" class="form-control input-light" placeholder="Email Address" id="email" name="_replyto" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control input-light" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number." name="phone">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Message</label>
                            <textarea rows="5" class="form-control input-light" placeholder="Message" id="message" required data-validation-required-message="Please enter a message." name="body"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12 text-center">
                            <button type="submit" class="btn btn-primary btn-lg sqr-btn" value="_send">
                                interact@vishalsridhar.com
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Modals -->
<!--<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>vishalsridhar.com</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/vishalsridhar_poster.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>
                                Service:
                                <strong>
                                    <a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Test Automation-SIP</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/test_automation_poster.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>
                                Service:
                                <strong>
                                    <a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>UnifiedFramework</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/unifiedframework_poster.png" class="img-responsive img-centered" alt="">
                        <p>Unified Framework is selenium based e2e web test automation framework encapsulating commonly used .net libraries, selenium web driver, protractor and an intutive reporting tool </p>
                        <a class="btn btn-primary btn-lg text-center sqr-btn" routerLink="/unifiedframework">More</a>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>
                                Service:
                                <strong>
                                    <a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>
                                Service:
                                <strong>
                                    <a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>
                                Service:
                                <strong>
                                    <a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>
                                Service:
                                <strong>
                                    <a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
