<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/portfolio/portfolio_one.png" alt="">
                <div class="intro-text">
                    <span class="name">Social Intelligence Platform II</span>
                    <hr class="star-light">
                    <span class="skills">Asp.Net with MVC5 - Javascript/AngularJs - Cloud Storage</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!--Sub Heading-->
<section class="dark" id="sipv2_subhead">
    <div class="row">
        <ul class="list-inline item-details text-center font-medium">
            <li>
                <b>Client: </b>
                <strong><a href="#">Microsoft</a></strong>
            </li>
            <li>
                <b>Date: </b>
                April 2016-July 2016
            </li>
            <li>
                <b>Service: </b>
                <strong><a href="#">Web Development</a></strong>
            </li>
        </ul>
    </div>
</section>

<!--Project Description-->
<section>
    <div class="container" id="sipv2_description">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Project Description</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row font-medium">
            <p>
                SIP, is platfrom for carrying analytics and monitoring of Social media concensous, related to microsoft
                products and their competitors from major platforms like blogs,twitter,facebook etc.
            </p>
            <p>
                As the volume to data flowing was huge, generic system has to be migrated to faster and adaptive BI mediums like Cosmos,
                Elastic Search, Azure No SQL storage.
            </p>
            <p>
                At the end of the data flows lies the UI, which is responsive both visually and functionally in order to handle
                massive incoming data and perform real time rendering of Graphs, documents, filters etc.

            </p>
        </div>

    </div>
</section>

<!--My Responsibilities-->
<section class="success" id="sipv2_responsibility">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>My Responsibilities</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <ul class="font-medium">
                <li>Project strategy/layout creation </li>
                <li>UI/UX designing</li>
                <li>Realisation of UX mockup, with developemnt tools</li>
                <li>Deployment package generation and version controlling</li>
            </ul>
        </div>
    </div>
</section>

<!--Technologies-->
<section id="sipv2_technologies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Technology</h2>
                <hr class="star-primary">
            </div>
            <div class="row text-center col-lg-offset-1">
                <div class="col-sm-2 flat-tag text-center"><a link="#">Asp.Net, MVC5</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">.Net 4.5</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">Azure Table Storage</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">Javascript/JQuery</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">Angular 1.5</a></div>
            </div>
            <div class="row text-center col-lg-offset-1" style="margin-top:10px">
                <div class="col-sm-2 flat-tag text-center"><a link="#">Web API</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">Elastic Search</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">AJAX</a></div>
            </div>
        </div>
    </div>
</section>


<!--<section id="sipv2">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="modal-body">
                    <h2 class="font-ex-lg text-center">Social Intelligence Platform V2</h2>
                    <hr class="star-primary">
                    <img src="img/portfolio/portfolio_one.png" class="img-responsive img-centered-landing" alt="">
                    <ul class="list-inline item-details text-center font-medium">
                        <li>
                            <b>Client: </b>
                            <strong><a href="#">Microsoft</a></strong>
                        </li>
                        <li>
                            <b>Date: </b>
                            March 2016-July 2016
                        </li>
                        <li>
                            <b>Service: </b>
                            <strong><a href="#">Web Development</a></strong>
                        </li>
                    </ul>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">Project Description</h2></div>
                        <div class="panel-body">
                            <p>
                                SIP, is platfrom for carrying analytics and monitoring of Social media concensous, related to microsoft
                                products and their competitors from major platforms like blogs,twitter,facebook etc.
                            </p>
                            <p>
                                As the volume to data flowing was huge, generic system has to be migrated to faster and adaptive BI mediums like Cosmos,
                                Elastic Search, Azure No SQL storage.
                            </p>
                            <p>
                                At the end of the data flows lies the UI, which is responsive both visually and functionally in order to handle
                                 massive incoming data and perform real time rendering of Graphs, documents, filters etc.

                            </p>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">My Responsiblities</h2></div>
                        <div class="panel-body">
                            <ul style="font-size:1.2em">
                                <li>Project strategy/layout creation </li>
                                <li>UI/UX designing</li>
                                <li>Realisation of UX mockup, with developemnt tools</li>
                                <li>Deployment package generation and version controlling</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">Technologies Involved</h2></div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <a link="#" class="flat-tag">Asp.Net 4.5</a>
                                <a link="#" class="flat-tag">Azure Table Storage</a>
                                <a link="#" class="flat-tag">Html/CSS/Bootstrap</a>
                                <a link="#" class="flat-tag">Javascript/JQuery</a>
                                <a link="#" class="flat-tag">Angular 1.5</a>
                                <a link="#" class="flat-tag">Web Api</a>
                                <a link="#" class="flat-tag">MVC 5</a>
                            </div>
                            <div class="col-sm-12" style="margin-top:10px;">
                                <a link="#" class="flat-tag">Elastic Search</a>
                                <a link="#" class="flat-tag">AJAX with JQuery</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
