<section id="sipv2">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="modal-body">
                    <h2 class="font-ex-lg text-center">Social Intelligence Platform V2</h2>
                    <hr class="star-primary">
                    <img src="img/portfolio/portfolio_one.png" class="img-responsive img-centered-landing" alt="">
                    <ul class="list-inline item-details text-center font-medium">
                        <li>
                            <b>Client: </b>
                            <strong><a href="#">Microsoft</a></strong>
                        </li>
                        <li>
                            <b>Date: </b>
                            March 2016-July 2016
                        </li>
                        <li>
                            <b>Service: </b>
                            <strong><a href="#">Web Development</a></strong>
                        </li>
                    </ul>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">Project Description</h2></div>
                        <div class="panel-body">
                            <p>
                                SIP, is platfrom for carrying analytics and monitoring of Social media concensous, related to microsoft
                                products and their competitors from major platforms like blogs,twitter,facebook etc.
                            </p>
                            <p>
                                As the volume to data flowing was huge, generic system has to be migrated to faster and adaptive BI mediums like Cosmos,
                                Elastic Search, Azure No SQL storage.
                            </p>
                            <p>
                                At the end of the data flows lies the UI, which is responsive both visually and functionally in order to handle
                                 massive incoming data and perform real time rendering of Graphs, documents, filters etc.

                            </p>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">My Responsiblities</h2></div>
                        <div class="panel-body">
                            <ul style="font-size:1.2em">
                                <li>Project strategy/layout creation </li>
                                <li>UI/UX designing</li>
                                <li>Realisation of UX mockup, with developemnt tools</li>
                                <li>Deployment package generation and version controlling</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">Technologies Involved</h2></div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <a link="#" class="flat-tag">Asp.Net 4.5</a>
                                <a link="#" class="flat-tag">Azure Table Storage</a>
                                <a link="#" class="flat-tag">Html/CSS/Bootstrap</a>
                                <a link="#" class="flat-tag">Javascript/JQuery</a>
                                <a link="#" class="flat-tag">Angular 1.5</a>
                                <a link="#" class="flat-tag">Web Api</a>
                                <a link="#" class="flat-tag">MVC 5</a>
                            </div>
                            <div class="col-sm-12" style="margin-top:10px;">
                                <a link="#" class="flat-tag">Elastic Search</a>
                                <a link="#" class="flat-tag">AJAX with JQuery</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
