<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/vs_logo.png" alt="">
                <div class="intro-text">
                    <span class="name">vishalsridhar.com</span>
                    <hr class="star-light">
                    <span class="skills">portfolio web page</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!--Sub Heading-->
<section class="dark" id="vs_subhead">
    <div class="row">
        <ul class="list-inline item-details text-center font-medium">
            <li>
                <b>Client: </b>
                <strong><a href="#">Independent</a></strong>
            </li>
            <li>
                <b>Date: </b>
                July 2016 - August 2016
            </li>
            <li>
                <b>Service: </b>
                <strong><a href="#">Web Development</a></strong>
            </li>
        </ul>
    </div>
</section>

<!--Project Description-->
<section>
    <div class="container" id="vs_description">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Project Description</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row font-medium">
            <p>
                This website uses latest and greatest of the client side technologies nodejs,Angular2, typescripts are the names of the prominent ones,
                Basically a portfolio web page, in order to show case my works in creative yet simple enough in order to potray them in best possible manner.
            </p>
        </div>

    </div>
</section>

<!--My Responsibilities-->
<section class="success" id="vs_responsibility">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>My Responsibilities</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <ul class="font-medium">
                <li>Project layout creation, online content management</li>
                <li>UI/UX designing</li>
                <li>Realisation of UX mockup, with development tools</li>
                <li>Custom graphic design with Photoshop and Illustrator(CC 2015)</li>
            </ul>
        </div>
    </div>
</section>

<!--Technologies-->
<section id="vs_technologies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Technology</h2>
                <hr class="star-primary">
            </div>
            <div class="row text-center col-lg-offset-1">
                <div class="col-sm-2 flat-tag text-center"><a link="#">Asp.net Core 1.0</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">Angular2</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">Bower</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">Npm</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">TypeScript</a></div>
            </div>
            <div class="row text-center col-lg-offset-1" style="margin-top:10px">
                <div class="col-sm-2 flat-tag text-center"><a link="#">Bootstrap</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">Jacascript/JQuery</a></div>
                <div class="col-sm-2 flat-tag text-center"><a link="#">GitHub</a></div>
            </div>
        </div>
    </div>
</section>

<!--<section id="vishalsridhar_com">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="modal-body">
                    <h2 class="font-ex-lg text-center">vishalsridhar.com</h2>
                    <hr class="star-primary">
                    <img src="img/portfolio/portfolio_two.png" class="img-responsive img-centered-landing" alt="">
                    <ul class="list-inline item-details text-center font-medium">
                        <li>
                            <b>Client: </b>
                            <strong><a href="#">Independent</a></strong>
                        </li>
                        <li>
                            <b>Date: </b>
                            August 2015-Feb 2016
                        </li>
                        <li>
                            <b>Service: </b>
                            <strong><a href="#">Web Development</a></strong>
                        </li>
                    </ul>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">Description</h2></div>
                        <div class="panel-body">
                            <p>
                                This website uses latest and greatest of the client side technologies nodejs,Angular2, typescripts are the names of the prominent ones,
                                Basically a portfolio web page, in order to show case my works in creative yet simple enough in order to potray them in best possible manner.
                            </p>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">My Responsiblities</h2></div>
                        <div class="panel-body">
                            <ul>
                                <li>Project layout creation, online content management</li>
                                <li>UI/UX designing</li>
                                <li>Realisation of UX mockup, with developemnt tools</li>
                                <li>Custom graphic design with Photoshop and Illustrator(CC 2015)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 class="panel-title">Technologies Involved</h2></div>
                        <div class="panel-body">
                            <a link="#" class="flat-tag">Angular2</a>
                            <a link="#" class="flat-tag">Asp.net Core 1.0</a>
                            <a link="#" class="flat-tag">Bower</a>
                            <a link="#" class="flat-tag">Npm</a>
                            <a link="#" class="flat-tag">Bootstrap</a>
                            <a link="#" class="flat-tag">JQuery</a>
                            <a link="#" class="flat-tag">GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
